html {
  height: 100%;
}

body {
 font-family: sans-serif;
 margin: 0;
 background-color: #d9e4dd;
 padding:20px;
 padding-top: 0px;
}

.site{
  background-color: #798777;
  padding:5px;
  text-align: center;
  color: #efffef;
  text-shadow: #000000 1px 1px 1px;
  font-family: limelight;
  border-bottom-style:  none;
  margin-bottom:30px;
  font-size:25px;
}

  
h1 {
 color:#b4c4a6;
 font-family: yellowtail;
 text-shadow:#000000 2px 1px 1px;
 font-size: 100px;
 text-align: center;
 padding:75px;
}

header {
 background-image:url(img/22490491.png);
 background-size : 375px;
 background-color:#ffffff;
 margin:0;
}

.theme{
  font-size:35px;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-color: #798777;
  border-bottom-width:2.5px;
}

.first{
padding-bottom:20px;
font-size:17.5px;
line-height: 175%;
padding-left:10px;
}

ul{
  list-style: none;
  text-align:center;
}

 nav a{
  text-decoration: none;
  color:#798777;
}

 nav a:hover{
  text-decoration: underline;
}

.box{
  text-align: center;
  border: 3px solid #798777; 
  border-radius: 10px;
  padding:10px;
  margin:30px;
  margin-left:250px;
  margin-right: 250px;
}

.contents_box label {
border-bottom: 1px solid #798777;
}

.contents_box label:before{
 display: inline-block;
 content: "[表示]";
}

.contents_box input:checked ~ label:before {
 content: "[非表示]";
}

.contents_box input{
  display:none;
}

.contents_box .hidden_show{
  height:0;padding:0;overflow:hidden;transition:0.8s;
}

.contents_box input:checked ~ .hidden_show{
  padding: 10px 0;height:auto;
}
 

.Purcussion {
 background-color:#ffffff;
 color: #798777;
 padding:30px;
}

.Purcussion p{
  line-height: 175%;
  font-size:17.5px;
  padding-bottom: 0px;
}


.title {
  font-size: 23px;
  border-left-style: solid;
  border-left-width: 10px;
 color:#798777;
 background-color: #d9e4dd;
 margin-bottom: 20px;
 padding:20px;
 margin-top: 50px;
 border-bottom-style: none;
}

figcaption{
  font-size:15px;
  color:#798777;
}

h3{
  font-size:23px;
}

h4{
    font-size:20px;
    border-left:solid 5px #798777;
    padding:10px;
}

.list{
padding:10px;
}

.list2{
    float:left;
    margin: 30px;
    margin-bottom:100px;
    box-shadow: 3px 3px 5px #798777;
    padding:10px;
}


h5{
    font-size:18px;
    color:#798777;
}


#No4{
   clear:left; 
}

ruby{
  background:linear-gradient(transparent 60%, #d9e4dd 60%);
}


.plus{
clear:left;
border-style: dotted;
border-width:3px;
border-color:#798777;
border-radius:30px;
padding:10px;
margin:50px;
}